main {
  display: grid;
  margin-top: 100px;
}

.search {
 margin: auto; 
}

.logo {
 margin: auto;
}

input {
   width: 500px;
   height: 30px; 
   border-radius: 25px;
   border-style: outset;
}

li {
 display: inline;
 font-family: Arial;
 font-size: 12px;
}

.RightNav {
float: right;
padding: 1px 5px 1px 5px;
}

.LeftNav {
padding: 1px 5px 1px 5px; 
}

.footer {
background: gainsboro;
position: fixed;
bottom: 0;
width: 100%;
padding: 5px;
margin: 0;
}

.header {
padding: 3px;
}

a {
text-decoration: none;
color: gray;
}

a:hover {
  text-decoration: underline;
}

.Button {
margin: auto;
padding: 20px;
}

.Button:hover {
  border: 1px;
}